.transition-group {
  position: relative;
}

/* 定义进入和退出动画 */
/* 通用淡入淡出效果 */
.fade-enter,
.fade-exit-active {
  opacity: 0;
  z-index: 1;
}

.fade-enter-active,
.fade-exit {
  opacity: 1;
  transition: opacity 500ms ease-in-out;
}

/* 从右到左滑入 */
.forward-enter {
  transform: translateX(100%);
  opacity: 0;
}

.forward-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition:
    transform 500ms ease-out,
    opacity 500ms ease-out;
}

.forward-exit {
  transform: translateX(0);
  opacity: 1;
}

.forward-exit-active {
  transform: translateX(-100%);
  opacity: 0;
  transition:
    transform 500ms ease-in,
    opacity 500ms ease-in;
}

/* 从左到右滑入 */
.back-enter {
  transform: translateX(-100%);
  opacity: 0;
}

.back-enter-active {
  transform: translateX(0);
  opacity: 1;
  transition:
    transform 500ms ease-out,
    opacity 500ms ease-out;
}

.back-exit {
  transform: translateX(0);
  opacity: 1;
}

.back-exit-active {
  transform: translateX(100%);
  opacity: 0;
  transition:
    transform 500ms ease-in,
    opacity 500ms ease-in;
}
